.shoppingcart {
  justify-content: center;
  align-items: center;



  font-family: sans-serif;
  color: rgb(255, 21, 0);
  border: 5px solid black;
  padding: 50px;
  border-radius: 10px;
  margin: 20px auto ;
  width: 300px;
  height: 200px;
}
.shoppingcart p {
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
.shoppingcart button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.todolist {
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: rgb(255, 21, 0);
  border: 5px solid black;
  padding: 50px;
  border-radius: 10px;
  margin: 20px auto ;
  width: 300px;
}
.todolist button {
  font-size: 16px;
  margin-bottom: 10px;
  margin: 5px;
}